.header{
    background-color: cyan;
    justify-content: space-between;
    display: -moz-box;
}

.menu{
    display:flex;
    justify-content:space-between ;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
body{
    background-color: turquoise;
}
.grid img{
    border : 2px solid black;
    border-radius: 50px;;
}

.oigami{
    border-radius: 20px;
    background-color: white;
    display: flexbox;
    width:310px;
    font-family:fantasy;
}